*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior:smooth;
    font-size:62,5%;
}

body {

}

ul{
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}



/* HOME */

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.forme{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
}
.container2{
    display:flex; 
    flex-direction: row;
    justify-content:center;
    background-color:blue;
}

.signup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:white;

}

.home{
    background-image: url("assets/background.png");
    background-size: cover;
    width:100%;
    background-attachment: no-repeat;
    float:left;
}

.title{
    color:white;
}

.text{
    color:white;

}

/* LOGIN */


.form2 {
    align-items: center;                                                                
}

/* SIGNUP */


/* DASHBOARD */




.grid-container {
    display: grid;
    width:100%;
    height: auto;
    grid-template-areas:
        'head head head head head head'
        'side content content content content content'
        'side content content content content content'
        'side footer footer footer footer footer';

}

.header{
    grid-area: head;
    background-color: #1C96C5;
    height: 12vh;
    color:white;
    font-weight: bold;
    font-size: 22px;
}

.head{
    position: relative;
    float: left;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
}


.aside {
    grid-area:side;
    background-color: #20A7DB;    ;
    height: 90vh;
    width: 15vw;
}

.content{
    grid-area: content;
    border: solid 2px black;
    height: auto;
    width: 90vw;
}

.forma{
    grid-area: footer;
    background-color:grey;
    height: 8rem;

}

.sidebar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
   
}



.avatar{
    width:90%;
    align-items: center;

}
ul{
    align-items: center;

}

.message{
    width: 25rem;
    height: 20rem;
    font-size: 40px;

}

input{
    box-sizing:content-box;
    font-size: 40px;
    line-height: 20rem;
    height: 20rem;
}


.forma{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    gap:7rem;
}


.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #ffffff;
    border-left: 0;
    margin-top: -20px;
    margin-left: -20px;
}

.rowchat{
    display:flex;
    flex-direction:row;
    gap: 1rem;
}

/*

.item1{
    grid-area: profil;
    background-color:red;
    height: 8rem;
    width: 100%;
}

.item2 { 
    grid-area: head; 
    background-color: green;
    width: 100%;
}
.item3 { 
    grid-area: side; 
    background-color: grey;
    height: 30rem;
    width: 80%;

}

.item4 { 
    grid-area: main;    
    background-color: orange;
    height: 30rem;
}

.item5 { 
    grid-area: sidee; 
    background-color: grey;
    height: 9rem;
    width: 80%;
}

.item6 {
    grid-area: footer; 
    border: 1px solid black;
    height: 9rem;

}

.sidebar{
    display:flex;
    flex-direction: column;
    justify-content: center;
   
}

.message{
    width: 100%;
    line-height: 120px;
}

h3{
    position: relative;
    float: left;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar{
    width: 50px;
    height: 50px;
}
*/
